<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta  http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 class="neon" data-text="U">O<span class="flicker-slow">RD</span>E<span class="flicker-fast">R</span>S</h1>

    <a href="/" class="button">Home</a>

    <div class="table">
        <% doresultsStorage.forEach(function(i) { %>
            <form action="/delete" method="post" id="deleteForm">
                <div class="item">
                    <div class="item_name">
                        <button type="submit" class="button" onclick="deleteEntry" name="butt" id="deletex" value="<%= i._id %>">Delete</button>
                        <h1><%= i.name %> </h1>
                    </div>
                    <ul>
                        <li>Verdes: <%= i.verdes%></li>
                        <li>Rajas: <%= i.rajas%></li>
                        <li>Mole: <%= i.mole%></li>
                        <li>Champurrado: <%= i.champurrado%></li>
                        <li>Comment: <%= i.comment%></li>
                    </ul>
                </div>
            </form>
        <% }) %> 
    </div>

    <style>

        .item_name {
            display: flex;
        }
        .table {
            display: flex;
            flex-wrap: wrap;
        }
        
        .table * {
            font-family: 'Chalkduster',cursive;
            font-size: 20px;
            text-shadow: 2px 0px 2px green;
        }
        body {
            background-image: url("images/pexels-lukas-349609-2.jpg");
            background-size:cover;
            margin: 0;
        }

        .neon {
            font-family: 'MONOTON',cursive;
            font-size: 80px;
            color: rgb(0, 204, 10);
            position: relative;
            top: 50%;
            left: 51%;
            transform: translate(-50%,-50%);
            font-weight: 400;
            letter-spacing: 8px;
            text-shadow: 1px 0px 4px #0d05ad, 2px 0px 4px #011473, 3px 0px 4px #0103aa, 2px 0px 3px #0c10cf, 2px 3px 15px #150fcb, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #0a10c4,40px 0vw 200px #0b0bcb;
        }
    
        .flicker-slow {
            animation: flicker 3s linear infinite;
        }
    
        .flicker-fast {
            animation: flicker 1s linear infinite;
        }
    
        @keyframes flicker {
        0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
            
        opacity: .99;	
        }
        20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
            opacity: 0.4;
        }
        
        }

        #results {
            display: flex;
            justify-content: space-between;
            position: relative;
            bottom: 100px;
            margin: 20px;
        }

        #results h4 {
            border-bottom: black 1px solid;
            display: flex;
            flex-direction: column;
        }

        .button {
            padding: 10px;
            cursor: pointer;
            font-size: 20px;
            font-family: 'Chalkduster',cursive;
            border-radius: 90px;
            background-color: transparent;
            color: black;
            border: none;
            text-shadow: 2px 2px 2px steelblue;
            text-decoration: none;
        }

    </style>
    <script>
        //definitions
        var formz=document.getElementById("deleteForm")
        function deleteEntry() {
            document.getElementById("deletex").addEventListener("click",function() {
                formz.submit()
            })
        }      
    
    </script>
</body>
</html>